/* Variables */

:root {
	--primary-text: #fff;
	--primary-background: #18222e;
	--secondary-background: #212f3f;
	--header-background: rgba(0, 0, 0, 0.5);
	--accent-color: #ead8cc;
}

/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	font-family: "Poppins";
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* Page Layout */

html {
	background-color: var(--primary-background);
}

.page-container {
	height: 100vh;
	width: 100vw;
	display: flex;
}

.container-left {
	height: 100%;
	width: 35%;
	display: flex;
	justify-content: center;
	position: relative;
	background-image: url("./images/night.jpg");
	background-size: 75vh;
	background-repeat: no-repeat;
}

.header {
	position: absolute;
	top: 15%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--header-background);
}

.container-right {
	height: auto;
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.text-container,
.form-container,
.button-container {
	padding: 48px;
}

.text-container {
	padding-bottom: 8px;
}
.form-container {
	border-top: 1px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: var(--secondary-background);
}
.row-1,
.row-2,
.row-3 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.input-field {
	display: flex;
	flex-direction: column;
	padding: 4px 16px 4px 0px;
}

.button-container {
	padding: 18px 48px 18px;
}

/* Content Styles */

img {
	padding: 18px 8px;
}

h1,
h3,
p {
	color: var(--primary-text);
	padding: 18px 0px;
}

h3 {
	font-weight: 400;
}

h4 {
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 8px;
}

form {
	color: var(--primary-text);
}

input {
	background-color: var(--secondary-background);
	border: 1px solid var(--accent-color);
	color: var(--primary-text);
	width: 160px;
	margin: 8px 0px;
	margin-right: 40px;
	padding: 4px;
	border-radius: 4px;
}

label {
	font-size: 0.75rem;
	width: 160px;
	margin-right: 40px;
}

a {
	color: var(--accent-color);
	font-weight: bold;
}

button {
	border-radius: 4px;
	padding: 16px;
	outline: solid 1px var(--accent-color);
	box-shadow: 0px 1px var(--accent-color);
	background-color: var(--secondary-background);
	color: var(--primary-text);
	font-weight: bold;
	margin-top: 48px;
}

/* Psuedo Styles */

input:focus {
	box-shadow: 0px 1px var(--primary-text);
	outline: solid 1px var(--accent-color);
}

input[type="password"]:user-invalid {
	border-color: red;
}

a:hover,
button:hover {
	cursor: pointer;
}

button:hover {
	background-color: var(--accent-color);
	color: var(--primary-background);
}
